html {
    font-size: 16px;
}

.wrapper {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5) ;
}

.wide img {
    width: 100%;
}

.title {
    text-align: center;
    color: white;
}

nav ul li {
    display: inline;
    border-right: 1px solid gray;
    padding: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.contact {
    border-right: none;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.image img {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.box {
    
    width: 95%;
    border: 1px solid black;
    padding: 2px;
    margin: 10px;
    
}

.copyright {
    text-align: right;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf; 
}