/* css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* html format */
html {
    font-size: 16px;
}

/* attribute selector for wrapper */
.wrapper {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5) ;
}

/* adjust size of image */
.wide img {
    width: 100%;
}

/* format for text overlaying image */
.container {
    position: relative;
     text-align: center;
     color: white;   
}

/* format text overlaying image */
.centered {
    font-size: 3.5rem;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* attribute selector nav bar */
nav ul li {
    display: inline;
    border-right: 1px solid gray;
    padding: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 50px;
}

.nav {
    line-height: 40px;
}

/* attribute selector subtitle */
.subtitle {
    font-size: 2rem;
    padding: 10px;
    margin-top: 20px;
}

/* adjust line height of filler text */
.fillertext {
    line-height: 25px;
    padding: 10px;
}

/* format subheading size and spacing */
.subheading {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* attribute selector list formatting */
.facts {
 list-style-type: none;
 padding: 10px;
}

/* pseudo class */
.bullet::before {
    content: "•";
    font-size: 1.5rem;
    color: black;
    margin-right: 5px;
}

/* format divider between nav bar */
.contact {
    border-right: none;
}

/* pseudo class */
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* float image and adjust formatting */
.image img {
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

/* format box */
.box {
    align-content: center;
    width: 95%;
    border: 1px solid black;
    padding: 2px;
    margin: 10px;  
}

/* attribute selector form aswer text type */
input [type=text] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8 px 0;
    box-sizing: border-box;
}

/* attribute selector for textarea */
textarea {
    width: 100%;
    padding: 2px;
    margin: 10px;
    box-sizing: border-box;
    line-height: 25px;
}

/* alter display for radio type */
input [type=radio] {
    display: inline;
}

/* set alignment for form answer */
.information {
    padding: 2px;
    margin: 10px;
    margin-top: 20px;
}

/* alter size of name answer space */
#yourname {
    width: 100%;
    line-height: 25px;
}

/* alter size of email answer space */
#youremail {
    width: 100%;
    line-height: 25px;
}

/* space heading 3 */
h3 {
    padding: 5px;
}

/* format send button with color, border, spacing */
button {
    text-transform: uppercase;
    background-color: #aad4cf;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    border-width: 1px;
    color: black;
    border-radius: 0%;
    padding: 10px;
    margin: 15px;
}

/* format copyright and alignment */
.copyright {
    text-align: right;
    padding: 30px;
}

/* set font and page background colour */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}