/* 
CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
    background-color: black;
    color: darkgoldenrod;
}

.logosection {
    background-color: darkgoldenrod;
    width: 95%;
    margin: auto;
}

ul {
    list-style: none;
}

.banner {
    background-image: url(../images/main-banner.jpg);
}

.wrapper {
   background-color: black;
   color: white;
   opacity: 0.5;
   
}

.about {
    background-color: burlywood;
    margin: auto;
}

.card {
    background-color: cornsilk;
}

.black {
    background-color: black;
    color: white;
    border: none;
}

.vision {
    background-image: url(../images/vision.jpg);
    color: white;
}

hr {
    border-top: 1px solid darkgoldenrod;
}

.send {
    background-color: black;
    color: darkgoldenrod;
    border: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

iframe {
    width: 95%;
    display: block;
    margin: auto;
}

footer {
    background-color: black;
    color: darkgoldenrod;
}


