/* 
CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS Begins */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

header {
    background-color: black;

} 

nav {

    margin: 0 15px;
}

nav .logo {
    margin: 20px 0 0;
}

.search {
    background-color: black;
    border-radius: none;
    border: 1px solid darkgoldenrod;
}
/* 
.wrapper {
 } */

.banner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-size-max: 1200px */
    ;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    max-width: 1200px;
    /* margin: 24px auto; */
}

.opacity h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

p {
    line-height: 15px;
    padding: 10px;
}

.connect {
    background-color: darkgoldenrod;
    color: black;
    padding: 10px;
    border: none;
    margin: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}

.about {
    background-color: burlywood;
    margin: auto;
}

.office {
    display: block;
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding-top: 10px;
}

.card {
    background-color: cornsilk;
    margin: auto;
    margin-bottom: 15px;
    width: 95%;
    max-width: 1100px; 
}

.servepic {
    width: 100%;
    max-width: 1200px;
}

.black {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.grid1 {
    display: grid;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.learn {
    padding: 20px;
    margin: 10px;
}

label {
    padding: 20px;
}

textarea {
    width: 90%;
    max-width: 1100px;
    margin: 20px;
    margin-bottom: 0;
}

.send {
    background-color: black;
    color: darkgoldenrod;
    border: none;
    margin: 20px;
   
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 90%;
    margin: auto;
}

th {
    background-color: bisque;
}
iframe {
    width: 95%;
    display: block;
    margin: auto;
}

.location {
    margin: 20px auto;
}

footer {
    background-color: black;
    color: darkgoldenrod;
}

.copyright {
    padding: 30px;
}

.copyright:nth-child(2) {
    padding-top: 0px;
}

.unsplash:link {
    color: darkgoldenrod;
}

.unsplash:visited {
   color: darkgoldenrod; 
}

input[type=text] {
    width: 90%;
    max-width: 1100px;
    margin: 20px;
    line-height: 25px;
}

input[type=email] {
    width: 90%;
    max-width: 1100px;
    margin: 20px;
    line-height: 25px;
}

a.link {
    display: block;
    color: darkgoldenrod;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

a.link:hover {
    background-color: darkgoldenrod;
    color: black;
}

li:hover {
    background-color: darkgoldenrod;
    color: black;
}

.search {
    display: flex;
    border: none;
    margin-bottom: 20px;

}

.search input {
    flex-grow: 1;
}

.fa-border {
    border: 1px solid darkgoldenrod;
    padding: 10px;
}
