/* 
CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS Begins */

.html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    background-color: black;

} 

nav {

    margin: 0 15px;
}

nav .logo {
    margin: 20px 0 0;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (repeat(6,1fr));
    grid-template-areas: 
    "log"
    "home"
    "about"
    "services"
    "team"
    "contact";
}

.link:nth-child(1) {
    grid-area: log;
}

.link:nth-child(2) {
    grid-area: home;
}

.link:nth-child(3) {
    grid-area: about;
}

.link:nth-child(4) {
    grid-area: services;
}

.link:nth-child(5) {
    grid-area: team;
}

.link:nth-child(6) {
    grid-area: contact;
}

.link:link {
    color: darkgoldenrod;
    text-decoration: none;
}

.link:visited {
    color: darkgoldenrod;
    text-decoration: none; 
}

ul .link:hover {
    color: black;
    text-decoration: none;
    background-color: darkgoldenrod;
}

/* li:link {
    background-color: darkgoldenrod;
} */

.search {
    background-color: black;
    border-radius: none;
    border: 1px solid darkgoldenrod;
}

.wrapper {
    background-color: black;
    color: white;
    opacity: 0.5;
    margin: 40px auto;
 }

.banner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
}

p {
    line-height: 25px;
    padding: 10px;
}

.connect {
    background-color: darkgoldenrod;
    color: black;
    padding: 10px;
    border: none;
    margin: 10px;
}

h2 {
    font-size: 3rem;
    padding: 10px;
}

.about {
    background-color: burlywood;
    margin: auto;
}

.office {
    margin: 10px;
}

.card {
    background-color: cornsilk;
    margin: 10px;
}

.black {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.grid1 {
    display: grid;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.vision {
    background-image: url(../images/vision.jpg);
    color: white;
}

hr {
    border-top: 1px solid darkgoldenrod;
}

textarea {
    width: 100%;
    margin: 20px;
}

.send {
    background-color: black;
    color: darkgoldenrod;
    border: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 90%;
    margin: auto;
}

th {
    background-color: bisque;
}
iframe {
    width: 95%;
    display: block;
    margin: auto;
}

.location {
    margin: 20px auto;
}

footer {
    background-color: black;
    color: darkgoldenrod;
}

.copyright {
    padding: 30px;
}

.copyright:nth-child(2) {
    padding-top: 0px;
}

.unsplash:link {
    color: darkgoldenrod;
}

.unsplash:visited {
   color: darkgoldenrod; 
}


a.link {
    display: block;
    color: darkgoldenrod;
    background-color: black;
    text-align: center;
}

a.link:hover {
    background-color: darkgoldenrod;
    color: black;
}

/* .search input {
    width: calc(100% - 6%);
} */


.search {
    display: flex;
}

.search input {
    flex-grow: 1;
}

